/nbproject/private/
/FRSReservationClient/nbproject/private/
/FRSManagementClient/nbproject/private/
/MerlionAirlines-ejb/nbproject/private/
/MerlionAirlinesLibrary/nbproject/private/
/MerlionAirlinesLibrary/build/
/MerlionAirlinesLibrary/dist/
/MerlionAirlines-ejb/build/
/MerlionAirlines-ejb/dist/
/build/
/FRSManagementClient/build/
/FRSReservationClient/dist/
/FRSReservationClient/build/
/FRSManagementClient/dist/
/dist/
